.app {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: transparent;
  color: var(--text-light);
  overflow-x: hidden;
  z-index: 2;
}

body.light-mode .app {
  background: transparent;
  color: var(--light-text-dark);
}
